*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #0c0c0c;
    --second-bg-color: #131313;
    --text-color: #fff;
    --second-color: rgb(221, 221, 221);
    --main-color: #3b95fd;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--second-bg-color); 
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a:active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02)), url(images/LandingPage.PNG);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two{
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p{
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}


header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: var(--bg-color);
}

.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
    text-align: justify;
}

.main-text{
    text-align: center;
}

.main-text h4{
    font-size: 24px;
}

.main-text h2{
    font-size: var(--h2-font);
}

.btn {
    border-radius: 40px;
    width: 100%;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all .45s ease;
}

.btn--primary {
    background: var(--main-color);
    color: white;
}

.btn--primary:hover {
    transform: scale(1.05);
    background-color: #54c8fd;
}

.btn--primary:active {
    transform: scale(1.05);
    background-color: #54c8fd;
}

.contact{
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4{
    color: var(--text-color);
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;
}

.list li{
    margin-bottom: 12px;
}

.list li {
    display: block;
    color: var(--second-color);
    font-size: 18px;
    transition: all .45s ease;
}

.list li:hover{
    color: var(--text-color);
    transform: translateX(5px);
    }

.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--second-bg-colorbg-color);
}

.last-text p{
    color: var(--second-color);
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

@media (max-width: 1615px){
    .portfolio-content{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
}

@media (max-width: 1480px){
    header{
        padding: 12px 5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px;
        transition: 0.1s;;
    }
    section{
        padding: 110px 5% 60px;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02)), url(images/LandingPage.PNG);
    }

    .btn {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.5rem 2.5rem;
    }
}

@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }

    .row img{
        width: 200px;
        height: 200px;
        border-radius: 8px;
        display: block;
        transition: transform 0.5s;
    }

    .home-text h1{
        font-size: 50px;
        font-weight: 700;
        color: var(--text-color);
        line-height: 1.1;
        margin: 0 0 8px;
    }

    .home-text h3{
        color: var(--text-color);
        margin: 0 0 35px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
    }
}

@media (max-width: 720px){

    .row img{
        width: 150px;
        height: 150px;
    }

    .layer p{
        color: var(--second-color);
        font-size: 8px;
        line-height: 1.8;
    }

    .layer i{
        color: var(--main-color);
        margin-top: 10px;
        font-size: 15px;
        background: var(--text-color);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .contact-text h4{
        color: var(--text-color);
        margin: 10px 0;
        font-size: 20px;
        font-weight: 600;
    }
    
    .contact-text h2{
        font-size: 40px;
        line-height: 1;
    }

    .last-text p{
        color: var(--second-color);
        font-size: 10px;
    }

    .portfolio-content{

        margin-top: 2rem;
    }

    .btn {
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 2rem;
    }

    .main-text h4{
        font-size: 20px;
    }
    
    .main-text h2{
        font-size: 40px;
    }

    .about-text h2{
        font-size: 40px;
    }

    .about-text h4{
        font-size: 20px;
    }
}

@media (max-width: 570px){
    
    .row img{
        width: 125px;
        height: 125px;
    }
    
    .home-text h1{
        font-size: 40px;
    }
    
    .home-text h3{
        font-size: 30px;
    }

    .main-text h4{
        font-size: 20px;
    }
        
    .main-text h2{
        font-size: 28px;
    }

    .portfolio-content{

        margin-top: 1rem;
        gap: 1rem;
    }

    .contact-text h2{
        font-size: 28px;
    }

    .about-text h2{
        font-size: 28px;
    }
}

@media (max-width: 490px) {
    .row img{
        width: 95px;
        height: 95px;
    }

    .layer p{
        font-size: 6px;
    }
    
    .layer i{
        font-size: 15px;
        width: 30px;
        height: 30px;
    }

    .last-text p{
        font-size: 7px;
    }

    .row{
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
        margin-right: 3px;
    }
}