*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #0c0c0c;
    --second-bg-color: #131313;
    --text-color: #fff;
    --second-color: rgb(221, 221, 221);
    --main-color: #3b95fd;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--second-bg-color); 
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a:active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.main-text{
    text-align: center;
}

.main-text h4{
    font-size: 24px;
}

.main-text h2{
    font-size: 50px;
}

.main-text p{
    text-align: justify;
    padding: 22px;
}

.portfolio{
    background: var(--bg-color);
}

.portfolio2{
    background: var(--second-bg-color);
}

.portfolio-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    gap: 2.5rem;
    margin-top: 5rem;
}


.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #000000fb);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/*.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
} */

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--second-bg-color);
}

.last-text p{
    color: var(--second-color);
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

.main-text i{
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    color: var(--text-color);
    background: var(--main-color);
    transition: all .45s ease;
}

.main-text i:hover{
    transform: scale(1.1) translateZ(10px);
}

@media (max-width: 1615px){
    .portfolio-content{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
}

@media (max-width: 1480px){
    header{
        padding: 12px 5%;
        transition: .1s;
    }

    .portfolio-content{
        padding: 12px 5%; 
    }

    header.sticky{
        padding: 10px;
        transition: 0.1s;;
    }
    section{
        padding: 110px 3% 60px;
    }

    .main-text p{
        padding: 12px 5%;
    }
}


@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}

@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }
}

@media (max-width: 720px){
    .main-text h2{
        font-size: 35px;
    }

    .last-text p{
        color: var(--second-color);
        font-size: 10px;
    }

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
        align-items: center;
        margin-top: 5rem;
        width: 100%;
    }

    .portfolio{
        margin-top: 1rem;
    }

    .layer h5{
        font-size: 15px;
    }
} 

@media (max-width: 570px){
    .portfolio-content{
        margin-top: 5rem;
    }
}

@media (max-width: 490px){
    .last-text p{
        font-size: 7px;
    }
}